.main
{
    display:flex;
    justify-content: center;
    align-items:center;
}


.articleForm
{
    background-color:white;
    margin-top: 200pm;
    padding-bottom: 20pm;
    padding-left: 80pm;
    padding-right: 80pm;
    text-align: center;
    position:absolute;
    top:40%;
    left:40%;
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
}
td
{
    margin:0 0 20px;
    padding:0;
    font-size:20px;
    color:#333;
    line-height:30px;  
}

p1
{
    margin-top: 60px;
}

.loginAndRegister
{
    border:1px solid rgb(111, 162, 221);
    font-size: 15px;
    padding:5px;
    width: 80px;
    height:40px;
    line-height: 20px;
    text-align: center;
    background-color:rgb(148, 148, 243);
    // position:absolute;
    // left:40%;
    // top:60%;
    border:1px solid blue;
    display: flex;
    flex-direction: row;
}



.ab{
    position:absolute;
    left:40%;
    top:60%;
}
